<div class="row">
  <div class="col-sm-12 header-banner">
  </div>
</div>
<div class="container mx-auto px-15 mt-6 py-6">
  <div class="text-center col-lg-8 col-md-9 col-sm-11 col-12 px-lg-6 px-md-5 px-sm-4 px-3 mx-auto">
    <h3 i18n>
      Almost There!
    </h3>
    <p>Thank you for your interest - you have been assigned a few tasks to complete as part of your application process.  Once these have been completed, you will be presented to the project as a candidate.</p>
  </div>
  <div class="row col-lg-8 col-md-9 col-sm-11 col-12 px-0 mt-6 mx-auto text-center">
    <button class="btn btn-link btn-md mx-auto" (click)="back()" i18n>Not now, I want to keep looking</button>
    <button class="btn btn-info btn-md mx-auto" (click)="submit()" i18n>My Tasks</button>
  </div>
</div>