<div class="row col-lg-8 col-md-9 col-sm-11 col-12 px-lg-6 px-md-5 px-sm-4 px-3 mx-auto">

  <ul class="d-flex justify-content-between align-items-center w-100 py-4 my-0" [class.two-step]="steps.length < 3">
    <li class="header-6 medium text-light" [class.selected]="i === selectedStep" [class.completed]="i < selectedStep"
      [class.incomplete]="i > selectedStep" *ngFor="let step of steps; let i = index; trackBy: trackStep">
      {{ step.name }}
    </li>
  </ul>

</div>

<div [hidden]="true">
  <ng-content></ng-content>
</div>
