.cii-status {
    margin-top: 10px;
    h3 {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #1b8845;
    }
    .fa-trophy {
      background: #103b64;
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0px 0px 2px #888;
      padding: 0.5em 0.5em;
      margin-right: 10px;
      color: #fff;  
    }
  }