<div class="container mx-auto px-15 mt-6 py-6">
  <div class="text-center col-lg-8 col-md-9 col-sm-11 col-12 px-lg-6 px-md-5 px-sm-4 px-3 mx-auto">
    <h3 i18n>
      Almost There!
    </h3>
    <p>
      Thank you for submitting your program, it is now pending review. Once approved, you and your mentors will be
      notified on next steps.
    </p>
  </div>
  <div class="row col-lg-8 col-md-9 col-sm-11 col-12 px-0 mt-6 mx-auto text-center">
    <button class="btn btn-link btn-md mx-auto" (click)="back()" i18n>Discover More</button>
    <button class="btn btn-info btn-md mx-auto" (click)="submit()" i18n>My Mentorships</button>
  </div>
</div>
