<table class="table table-light mb-4">
  <tbody>
    <tr *ngFor="let item of items; trackBy: trackItem">
      <ng-container *ngIf="item.enabled">
        <td class="header-6 pl-4 py-3"> {{ item.label }} </td>
        <td class="header-6 pr-4 py-3 text-right"> {{ item.amount | currency : 'USD' : 'symbol' : '1.2' }}</td>
      </ng-container>
    </tr>
    <tr>
      <td class="header-4 pl-4 py-3" i18n>Total monthly subscription</td>
      <td class="header-4 pr-4 py-3 text-right" id='total-amount'> {{ totalAmount | currency : 'USD' : 'symbol' : '1.2' }} </td>
    </tr>
  </tbody>
</table>
<div hidden="true">
  <ng-content></ng-content>
</div>