@import 'constants.scss';

table {
  background-color: $background-grey-color;
  border-radius: 4px;
}

td {
  border-color: $border-grey-color;
}

tr:first-of-type > td {
  border-top-width: 0px;
}

tr:nth-last-of-type(1) > td {
  border-top-width: 2px;
}
