<div class="image-container">
  <div class="d-flex">
    <img src="/assets/callout-img1.jpg" alt="Two people smiling" i18n-alt class="cover-image">
    <div class="cover-image-fs">
    </div>
  </div>
  <div class="d-flex">
    <div class="cover-image-lf">
    </div>
    <img src="/assets/callout-img2.jpg" alt="Coworkers collaborating on a laptop" i18n-alt class="cover-image">
  </div>

</div>
<div class="apply-heading">
  <div class="h-100">
    <h5 class="note" i18n>Apply Now —</h5>
    <h1 class="title mt-4" i18n>There are millions of open source projects. Get funding for
      yours.</h1>
    <button type="button" class="btn btn-sm mt-4 white-button mb-4" (click)="onApply()" i18n>
      Get Started
    </button>
  </div>
</div>