@import 'constants.scss';
@import '../../../../app.component.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

:host {
  @include page-base($background-grey-color);
}

.section-break {
  margin-top: 3.5em !important;
}

/*
  Featured Section
*/

.cards-center {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  .card-align {
    margin: 20px 10px 0 10px;
  }
}

.featured-section {
  .section-header {
    margin-top: 30px;
    border-bottom: 1px solid #c8caca;

    // @media (min-width: 576px) {
    //   margin-left: -15px;
    //   margin-right: -15px;
    // }

    .section-name {
      font-size: 1.25rem;
      display: inline-block;
    }
    .view-all {
      float: right;
      border: 0;
      background: none;
      font-size: 0.75rem;
      cursor: pointer;
      color: #2a99cc;
      font-weight: bold;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.form-group {
  .form-check {
    padding-bottom: 0.5rem;
  }
}

.tc-link {
  text-decoration: underline;
}

.btn i {
  padding-right: 10px;
}

.btn-success {
  padding: 0 90px;
}

.form-consent {
  label {
    font-size: 13px;
    line-height: 21px;
  }
}

.card-deck {
  @media (min-width: 1200px) {
    .project-card:nth-child(3n + 2) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-between;
    // Adding extra padding to keep cards from being too far apart
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 767px) {
    justify-content: center;
  }

  // Empty card deck
  & > .empty {
    margin: 50px auto;
    color: #878686;
  }
}

@include media-breakpoint-down(md) {
  .appre-alert-message {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1380px;
    max-width: 1430px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1742px;
    max-width: 1780px;
  }
}
