@import 'constants.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '../mentee.component.scss';

::ng-deep {
  .tab-content {
    padding-top: 50px;
  }

  .modal-dialog {
    max-width: 700px;

    .calendar {
      height: auto;
      border: 1px solid #ccc;
    }
  }
}
