<div class="background-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Everyone has a role to play.</h1>
      </div>
    </div>
  </div>
</div>

<div class="background-white">
  <div class="container">
    <div class="row welcome-cards">
      <div class="welcome-card col-lg-3">
        <div class="px-3">
          <p class="icon"><i class="fas fa-code"></i></p>
          <h2 class="card-title">Maintainers</h2>
          <p class="card-text">
            Launch a mentorship program to grow the size and diversity of your community. You can also raise funds to
            help pay for stipends and other mentee perks.
          </p>
          <button class="btn btn-info btn-md" type="button" (click)="goToPage('participate/maintainer')">
            Submit Your Project
          </button>
        </div>
      </div>
      <div class="welcome-card col-lg-3">
        <div class="px-3">
          <p class="icon"><i class="fas fa-user-graduate"></i></p>
          <h2 class="card-title">Mentees</h2>
          <p class="card-text">
            Gain experience by contributing as a mentee. You’ll work alongside an experienced project developer and may
            be referred to employers upon graduating from a mentorship.
          </p>
          <button class="btn btn-info btn-md" type="button" (click)="goToPage('participate/mentee')">
            Become a Mentee
          </button>
        </div>
      </div>
      <div class="welcome-card col-lg-3">
        <div class="px-3">
          <p class="icon"><i class="fas fa-chalkboard-teacher"></i></p>
          <h2 class="card-title">Mentors</h2>
          <p class="card-text">
            Share your knowledge with mentees seeking to gain open source experience. Mentoring can help your project
            grow the size and diversity of its community.
          </p>
          <button class="btn btn-info btn-md" type="button" (click)="goToPage('participate/mentor')">
            Become a Mentor
          </button>
        </div>
      </div>
      <!-- <div class="welcome-card col-lg-3">
        <div class="px-3">
            <p class="icon"><i class="fas fa-building"></i></p>
            <h2 class="card-title">Companies</h2>
            <p class="card-text">Connect with mentorship program graduates to help grow your team while ensuring the sustainability of the project communities your business depends on.</p>
            <button class="btn btn-info btn-md" type="button" (click)="goToPage('participate/employer')">Create Profile</button>
        </div>
      </div> -->
    </div>
  </div>
</div>
