<div class="row">
  <div class="col-sm-12 header-banner">
  </div>
</div>
<div class="container mx-auto px-15 mt-6 py-6">
  <div class="text-center col-lg-8 col-md-9 col-sm-11 col-12 px-lg-6 px-md-5 px-sm-4 px-3 mx-auto">
    <h3 i18n>
      Thank you for your application!
    </h3>
    <p>
      You will shortly receive a confirmation email with link to prerequisite tasks, which you will need to complete as part of your application process. Upon successful completion of the tasks your mentorship application will be reviewed, and you will be notified about the admission decision.
    </p>
  </div>
  <div class="row col-lg-8 col-md-9 col-sm-11 col-12 px-0 mt-6 mx-auto text-center">
    <button class="btn btn-link btn-md mx-auto" (click)="back()" i18n>Discover More</button>
    <button class="btn btn-link btn-md mx-auto" (click)="submit()" i18n>My Tasks</button>
  </div>
</div>