@import 'constants.scss';

.chart {
  width: 100%;
  height: 100%;
  position: absolute;
}

.chart-parent {
  position: relative;
}

.chart-text {
  height: 100%;
  position: absolute;
  width: 100%;
}

.chart-top-spacer {
  width: 100%;
}

.center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-title {
  color: $chart-grey-color;
  font-weight: 500;
}
