// Themes bootstrap via scss customization https://getbootstrap.com/docs/4.0/getting-started/theming/
@import '~constants.scss';

$enable-gradients: false;
$enable-shadows: false;

$theme-colors: (
  'primary': $primary-black-color,
  'danger': $primary-red-color,
  'success': $primary-green-color,
  'secondary': $primary-red-color,
  'dark': black,
  'light': $primary-grey-color,
  'info': $primary-blue-color,
  'paragraph': $primary-paragraph-color
);

$spacers: (
  '4plus': 2rem,
  '5plus': 4.5rem,
  '6': 6rem
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
