@import '~constants.scss';

:host {
  width: 100%;
}
.fdownload,
.fpreview {
  margin-right: 0.4em;

  cursor: pointer;
}
img {
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: silver 0 2px 4px;
}

h4 {
  font-weight: normal;
}

td {
  padding: 20px 5px;
  vertical-align: top;
}

td.task-col-description {
  width: 40%;
  padding-right: 12px;
  padding-left: 30px;
  white-space: pre-line;
  &.with-icon {
    width: 32%;
  }

  &.admin {
    width: 40%;

    &.with-icon {
      width: 40%;
    }
  }
}

td.task-col-status {
  width: 13%;

  &.admin {
    width: 13%;
  }
}

td.task-col-due-date {
  width: 11%;
  text-align: center;
  &.admin {
    width: 11%;
    text-align: center;
  }
}

td.task-col-created-on {
  width: 13%;
  text-align: center;
  &.admin {
    width: 13%;
    text-align: center;
  }
}

td.task-col-updated-on {
  width: 13%;
  text-align: center;

  &.admin {
    width: 13%;
    text-align: center;
  }
}

td.task-col-edit {
  width: 7%;
}

button.dropdown-toggle-split {
  height: auto !important;
  border-radius: 0 !important;

  &.open::after {
    transform: rotateZ(180deg);
  }
}

p.task-description {
  font-size: 0.8em;
}

.badge {
  padding: 10px;
  min-width: 100px;
}

a.btn-link {
  color: blue;
  text-decoration: underline;
}

a.btn-link:hover {
  color: gray;
  cursor: pointer;
}

button#toggle {
  height: auto;
  font-weight: 700;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 8px;

  &.badge-success:hover,
  &.badge-light:hover {
    color: #fff;
  }

  &.badge-warning:hover {
    color: #212529;
  }

  &:focus {
    box-shadow: none;
  }

  &::after {
    display: none;
  }
}

div.dropdown-menu {
  left: auto !important;
  bottom: auto !important;
  right: 0 !important;
}
.description-container {
  flex: 1;
  padding: 0px 0px 0px 10px;
}
.task-file-icon {
  color: #6e6e6e;
  font-size: 20px;
  cursor: pointer;
}
.center {
  text-align: center;
}

.icon-container-width {
  max-width: 30%;
}

.file-upload {
  min-width: 100px;
  height: 34px;
  background: lightgrey;
  margin: 0px 6px;
}

.description-link {
  color: blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.btn-padding {
  padding-right: 5px;
  padding-left: 5px;
}
