<div class="container top-section pl-3 pr-3 pt-5 pb-4">
    <h2 style="color: black" class="pt-5 pb-4" i18n>Open Source powers everything</h2>
    <div class="row py-3 pb-4">
      <div class="col-6 col-md-3 col-lg">
          <img src="/assets/icons/industry/security.svg" alt="Security" i18n-alt />
        <div class="icon-text pt-1 pb-5" i18n>Security</div>
      </div>
      <div class="col-6 col-md-3 col-lg">
          <img src="/assets/icons/industry/platforms.svg" alt="Platforms" i18n-alt />
        <div class="icon-text pt-1 pb-5" i18n>Platforms</div>
      </div>
      <div class="col-6 col-md-3 col-lg">
          <img src="/assets/icons/industry/data.svg" alt="Data" i18n-alt />
        <div class="icon-text pt-1 pb-5" i18n>Data & Analytics</div>
      </div>
      <div class="col-6 col-md-3 col-lg">
          <img src="/assets/icons/industry/embedded.svg" alt="Embedded & IoT" i18n-alt />
        <div class="icon-text pt-1 pb-5" i18n>Embedded & IoT</div>
      </div>
      <div class="col-6 col-md-3 col-lg">
          <img src="/assets/icons/industry/blockchain.svg" alt="Blockchain" i18n-alt />
        <div class="icon-text pt-1 pb-5" i18n>Blockchain</div>
      </div>
      <div class="col-6 col-md-3 col-lg">
          <img src="/assets/icons/industry/ai.svg" alt="AI & ML" i18n-alt />
        <div class="icon-text pt-1 pb-5" i18n>AI & ML</div>
      </div>
      <div class="col-6 col-md-3 col-lg">
          <img src="/assets/icons/industry/networking.svg" alt="Networking" i18n-alt />
        <div class="icon-text pt-1 pb-5" i18n>Networking</div>
      </div>
      <div class="col-6 col-md-3 col-lg ">
          <img src="/assets/icons/industry/cloud.svg" alt="Cloud" i18n-alt />
        <div class="icon-text pt-1 pb-5" i18n>Cloud</div>
      </div>
    </div>
  </div>