.svg-root {
  display: inline-block;
  fill: currentColor;
  width: 15px;
  text-align: center;
}

.github-icon {
  position: relative;
  transform: translateY(1px);
}

.row {
  flex-direction: column;
}
