<div role="row" class="row mx-0 px-0 py-3 py-sm-0 no-gutters w-100 justify-content-between" id="transaction-item">
  <div role="cell" class="d-none d-sm-block col-2 my-auto text-light" i18n>
    <div class="header-5 medium pb-2">02/11/2019</div>
    <div class="small medium">10:32:38</div>
  </div>
  <div role="cell" class="d-block d-sm-none col-12 my-auto text-light pad-left mobile-date" i18n>
    <div class="small medium">02/11/2019 10:32:38</div>
  </div>
  <div role="cell" class="col-3 col-sm-3 my-auto" i18n>
    <div class="row mx-0 px-0 my-auto">
      <div class="sr-only" i18n> Task Name </div>
      <div class="col my-auto px-0">
        <div class="header-6 medium description pb-2">Lorem Ipsum Dollal Esse</div>
        <div class="small regular text-light" i18n>Vestibulum rutrum quam vitae fringilla...</div>
      </div>
    </div>
  </div>
  <div role="cell" class="col-1 col-sm-1 mx-auto my-auto" i18n>
    <img class="avatar-url avatar-rounded avatar-small" alt="" src="https://randomuser.me/api/portraits/men/72.jpg" />
  </div>
  <div role="cell" class="col-5 col-sm-2 my-auto" i18n>
    <div class="tag high" i18n>High</div>
  </div>
  <div role="cell" class="col-5 col-sm-2 my-auto" i18n>
    <div class="tag hold" i18n>On Hold</div>
  </div>
  <div role="cell" class="col-5 col-sm-2 my-auto" i18n>
    <a [href]="'#'" class="task-item-view">View Details</a>
  </div>
</div>