<div class="row justify-content-around">
  <div class="col">
    <div [formGroup]="parent">
      <label i18n for="{{ control }}" class="header-5"
        ><i class="fas fa-asterisk required"></i>{{ label || 'Logo' }}</label
      >
      <div class="custom-file d-block">
        <input
          #fileInput
          type="file"
          (change)="handleFileChange($event)"
          name="logo"
          accept=".jpg, .jpeg, .png, .svg"
          class="custom-file-input"
          [appControlInvalidStyle]="logoControl"
          (blur)="handleBlur($event)"
          (focus)="handleFocus($event)"
          (click)="handleClick($event)"
        />
        <label for="{{ control }}" class="custom-file-label">
          <div class="text-light" *ngIf="!selectedFile" i18n>Choose file</div>
          <div class="file-text" *ngIf="selectedFile !== undefined">{{ selectedFile?.name }}</div>
        </label>
      </div>
      <p class="header-6 regular text-light mt-2" i18n>
        File type: JPG, PNG, SVG <br />
        Recommended dimensions: 420px 420px <br />
        Max size: 2mb
      </p>
      <div
        *ngIf="
          logoControl &&
          selectedFile !== undefined &&
          logoControl.invalid &&
          (logoControl.dirty || touched || showError)
        "
        class="alert alert-danger"
      >
        <div *ngIf="logoControl.errors?.fileSize">{{ label || 'Logo' }} is too large.</div>
        <div *ngIf="logoControl.errors?.fileExtension">{{ label || 'Logo' }} is not the right file type.</div>
        <div *ngIf="logoControl.errors?.required">{{ label || 'Logo' }} is required.</div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <label i18n class="header-6">Preview</label>
    <div *ngIf="!previewSrc" class="preview unselected d-flex">
      <img src="/assets/file.svg" alt="Select A File Icon" class="m-auto" />
    </div>
    <img class="preview d-block" *ngIf="previewSrc" [src]="previewSrc | safeUrl" alt="Logo Preview" />
  </div>
</div>
